<section class="pt-24 pb-24">
    <div class="mx-auto max-w-330">
        <div class="grid grid-cols-12 items-start gap-6">
            <div id="faq-image-container" class="col-span-12 lg:col-span-6"></div>

            <div class="col-span-12 lg:col-span-6">
                <div class="flex flex-col gap-4">
                    
                    <span class="section-label"><span class="section-label-dot"></span>Frequently Asked Questions</span>

                    <h2 class="m-0 text-primary">
                        Common questions about gym and training
                    </h2>

                    <partial name="~/Views/Shared/Partials/FaqSection/_FaqAccordion.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>