@{
    ViewData["HeaderVariant"] = "Default";
}
<main class="px-4">
    <partial name="Partials/Membership/_MembershipSection" />
    <partial name="~/Views/Shared/Partials/FaqSection/_FaqSection.cshtml" />
</main>