.vs/
.vscode/

bin/
obj/

[Bb]in/
[Oo]bj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

TestResults/
coverage/
*.coverage
*.coveragexml

publish/
artifacts/

node_modules/

wwwroot/lib/

.DS_Store
Thumbs.db

.dotnet/