@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "My Bookings";
    ViewData["HeaderVariant"] = "Default";
    ViewData["ActivePage"] = "Account";
    ViewData["AccountTab"] = "MyBookings";
    ViewData["AccountTitle"] = "My Bookings";
}

<div class="mt-6">
</div>