<section class="mx-auto pt flex flex-col items-center pt-40 pb-20">
    <img src="~/images/404error.svg" alt="404 Page not found" class="block max-w-full h-auto" />
    <h2 class="font-poppins font-bold text-[54px] mt-8">Oops! page not found</h2>
    <p class="mt-6 mb-16">The page you are looking for does not exists.</p>
    <a asp-controller="Home"
        asp-action="Index"
        class="inline-flex items-center gap-2 rounded-full bg-accent pl-6 pr-4 py-3 font-dm-sans text-base font-semibold text-primary whitespace-nowrap">
        <span>Back to Homepage</span>
        <svg xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor">
            <path fill-rule="evenodd"
                    d="M7.22 4.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L11.94 10 7.22 5.28a.75.75 0 010-1.06z"
                    clip-rule="evenodd" />
        </svg>
    </a>
</section>