<section class="pt-12">
    <div class="flex flex-col items-center lg:items-end">
        <div class="w-full max-w-217">
            <h2 class="my-4 pb-4 text-center font-poppins leading-tight font-medium text-primary lg:ml-4 lg:text-left">
                My Statistics
            </h2>

            <div class="rounded-[20px] bg-white px-12 py-8">
                <div class="flex flex-col gap-8">

                    <div class="flex flex-col gap-5">
                        <div class="flex items-center justify-between">
                            <p class="font-poppins text-xl font-medium text-primary">
                                Check-In (last 30 days)
                            </p>
                            <p class="font-poppins text-xl font-medium text-primary">
                                25
                            </p>
                        </div>

                        <div class="h-2.5 w-full rounded-full bg-background">
                            <div class="h-2.5 rounded-full bg-accent" style="width: 95%;"></div>
                        </div>
                    </div>

                    <div class="flex flex-col gap-5">
                        <div class="flex items-center justify-between">
                            <p class="font-poppins text-xl font-medium text-primary">
                                Weight Goal
                            </p>
                            <p class="font-poppins text-xl font-medium text-primary">
                                50%
                            </p>
                        </div>

                        <div class="h-2.5 w-full rounded-full bg-background">
                            <div class="h-2.5 rounded-full bg-accent" style="width: 50%;"></div>
                        </div>
                    </div>

                    <div class="flex flex-col gap-5">
                        <div class="flex items-center justify-between">
                            <p class="font-poppins text-xl font-medium text-primary">
                                Current BMI
                            </p>
                            <p class="font-poppins text-xl font-medium text-primary">
                                27
                            </p>
                        </div>

                        <div class="h-2.5 w-full rounded-full bg-background">
                            <div class="h-2.5 rounded-full bg-accent" style="width: 65%;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>