<button type="submit" name="provider" value="Facebook" class="gsi-material-button">
    <div class="gsi-material-button-state"></div>
    <div class="gsi-material-button-content-wrapper">
        <div class="gsi-material-button-icon">
            <img src="~/images/facebook-icon.svg" alt="Facebook" />
        </div>
        <span style="display: none;">Sign in with Facebook</span>
    </div>
</button>