@model SignInViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Sign In";
    ViewData["HeaderVariant"] = "Default";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<section>
    <div class="mx-auto w-full max-w-215 rounded-2xl bg-white px-16 py-10">

        @if (TempData["ExternalLoginError"] is string externalLoginError)
        {
            <div class="mb-4 rounded-md bg-red-100 p-4">
                <p class="text-sm text-red-700">@externalLoginError</p>
            </div>
        }
       
        <div>
            <h2 class="text-[56px]">Welcome Back!</h2>
            <p class="pb-10">Log in to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
        </div>

        <div class="mb-16 h-px flex-1 bg-gray-light"></div>

        <div class="flex justify-center gap-10">
            @if (Model.ExternalProviders.Any())
            {
                <form asp-controller="Auth" asp-action="ExternalLogin" method="post" class="flex justify-center gap-10">
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <input id="externalRememberMe" type="hidden" name="rememberMe" value="false" />

                    @foreach (var provider in Model.ExternalProviders)
                    {
                        <partial name="ExternalProviders/_@(provider)Button"/>
                    }

                </form>
            }
            <partial name="Partials/Button/_FacebookButton"/>
        </div>

        <div class="my-8 mt-16 flex items-center gap-4">
            <div class="h-px flex-1 bg-gray-light"></div>
            <span class="font-dm-sans text-1xl font-normal uppercase text-gray">
                or continue with
            </span>
            <div class="h-px flex-1 bg-gray-light"></div>
        </div>

        <form asp-controller="Auth" asp-action="SignIn" method="post" data-form-validation>
            <input type="hidden" name="returnUrl" value="@returnUrl" />

            <div asp-validation-summary="ModelOnly" class="pb-4" style="color: red;"></div>

            <div>
                <label asp-for="Email" class="block pb-4 pt-8 font-poppins text-sm font-semibold text-primary">Email Address *</label>
                <input asp-for="Email" placeholder="Enter Email Address" class="w-full rounded-xl border border-transparent bg-background px-6 py-4 font-dm-sans text-base text-secondary outline-none focus:border-accent" />
                <span asp-validation-for="Email" style="color: red;"></span>
            </div>

            <div>
                <div class="flex items-center justify-between pt-6 pb-4">
                    <label asp-for="Password" class="font-poppins text-sm font-semibold text-primary">
                        Password
                    </label>

                    <a href="#" class="font-poppins text-sm font-medium text-accent hover:underline">
                        Forgot your password?
                    </a>
                </div>

                <input asp-for="Password" placeholder="Enter Password" class="w-full rounded-xl border border-transparent bg-background px-6 py-4 font-dm-sans text-base text-secondary outline-none focus:border-accent" />
                <span asp-validation-for="Password" style="color: red;"></span>
            </div>

            <div class="flex justify-center pt-8">
                <label class="inline-flex cursor-pointer items-center gap-3">
                    <input asp-for="RememberMe"
                           data-remember-me-checkbox
                           class="peer sr-only" />

                    <span class="flex h-6 w-6 items-center justify-center rounded-lg bg-[#F3F3F3] text-primary peer-checked:bg-accent peer-checked:after:content-['✓'] peer-checked:after:text-base peer-checked:after:font-bold peer-checked:after:leading-none">
                    </span>

                    <span class="font-dm-sans text-sm font-normal text-[#7E7E7E]">
                        Remember me
                    </span>
                </label>
            </div>

            <div class="w-full py-12">
                <button type="submit"
                        class="relative mx-auto flex w-full max-w-139 items-center justify-center rounded-full bg-accent px-6 py-4 font-dm-sans text-base font-semibold text-primary">
                    <span>Continue</span>
                    <span class="absolute right-4 top-1/2 -translate-y-1/2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M7.22 4.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L11.94 10 7.22 5.28a.75.75 0 010-1.06z"
                                  clip-rule="evenodd" />
                        </svg>
                    </span>
                </button>
            </div>
        </form>
    </div>
</section>