<section class="hidden min-[600px]:block my-4 rounded-2xl bg-accent px-12 py-4">
    <div class="grid gap-y-6 min-[1670px]:grid-cols-[1fr_auto] min-[1670px]:items-center">
        <div class="flex flex-wrap items-center justify-center gap-x-14 gap-y-4 min-[1670px]:justify-start">
            <img src="~/images/bannerlogo1.svg" alt="Partner logo 1" class="block h-auto max-w-full shrink-0" />
            <img src="~/images/bannerlogo2.svg" alt="Partner logo 2" class="block h-auto max-w-full shrink-0" />
            <img src="~/images/bannerlogo3.svg" alt="Partner logo 3" class="block h-auto max-w-full shrink-0" />
            <img src="~/images/bannerlogo4.svg" alt="Partner logo 4" class="block h-auto max-w-full shrink-0" />
            <img src="~/images/bannerlogo5.svg" alt="Partner logo 5" class="block h-auto max-w-full shrink-0" />
        </div>

        <div class="hidden min-[1700px]:flex min-[1700px]:justify-end">
            <span class="font-poppins text-[3rem] font-bold whitespace-nowrap text-secondary">
                Modern Equipment
            </span>
        </div>
    </div>
</section>