<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core Fitness Club</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>

    @if (!(ViewData["HideGlobalHeader"] as bool? ?? false))
    {
        <section class="px-4 py-4">
            <div class="mx-auto max-w-472">
                <partial name="~/Views/Shared/Partials/Header/_Header.cshtml" />
            </div>
        </section>
    }

    <main>
        @RenderBody()
    </main>

    <partial name="~/Views/Shared/Partials/Footer/_Footer.cshtml" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>