<div class="bg-secondary rounded-[20px] flex flex-col  h-full">
    <div class="flex flex-col gap-8 px-10 pt-10">
        <div class="text-white text-center flex flex-col gap-5">
            <h3>Get Your Membership</h3>
            <p class="text-white">Our memberships give you access to all equipment, personalized training.</p>
            <hr class="border-t border-primary" />
            <h3>Call Us At: +(46) 8 410 521 00</h3>
        </div>


        <partial name="Partials/Button/_Button"
                 model='new ButtonModel { Text = "Call Us Today", Url = "tel:00000" }' />


        @* <a href="#"
               class="bg-accent flex gap-2 items-center rounded-full self-center py-4 px-7 font-semibold font-dm-sans  max-md:mb-4 ">Call
            Us
            Today!
            <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M7.62504 6.53125C7.90629 6.8125 7.90629 7.3125 7.62504 7.59375L1.37504 13.8438C1.06254 14.125 0.593791 14.125 0.312541 13.8438C4.1008e-05 13.5625 4.1008e-05 13.0625 0.312541 12.7812L6.03129 7.0625L0.312541 1.34375C4.1008e-05 1.0625 4.1008e-05 0.5625 0.312541 0.28125C0.593791 0 1.06254 0 1.37504 0.28125L7.62504 6.53125Z"
                fill="#27252F" />
            </svg></a> *@
    </div>
    <img class="ml-auto mt-auto max-md:pt-4" src="~/images/our-pricing-cta-image1.svg" />
</div>