<section id="our-membership" class="pt-12 pb-12">
    <div class="mx-auto flex max-w-330 flex-col gap-16">
        <h1 class="text-center pb-6">Our Membership Offer</h1>

        <div class="grid grid-cols-12 gap-8">
            <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                <partial name="Partials/Membership/_MembershipCard" />
            </div>

            <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                <partial name="Partials/Membership/_MembershipCard" />
            </div>

            <div class="col-span-12 xl:col-span-4">
                <partial name="Partials/Membership/_MembershipCallUs" />
            </div>
        </div>

        <partial name="Partials/Membership/_MembershipBenefits" />
    </div>
</section>