<div class="flex flex-col md:flex-row gap-12 items-center justify-center">
    <div class="flex items-center gap-3">
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M12.8125 0C13.3203 0 13.75 0.429688 13.75 0.9375V2.5H15C16.3672 2.5 17.5 3.63281 17.5 5V16.25C17.5 17.6172 16.3672 18.75 15 18.75H2.5C1.13281 18.75 0 17.6172 0 16.25V5C0 3.63281 1.13281 2.5 2.5 2.5H3.75V0.9375C3.75 0.429688 4.17969 0 4.6875 0C5.19531 0 5.625 0.429688 5.625 0.9375V2.5H11.875V0.9375C11.875 0.429688 12.3047 0 12.8125 0ZM2.5 4.375C2.14844 4.375 1.875 4.64844 1.875 5V16.25C1.875 16.6016 2.14844 16.875 2.5 16.875H15C15.3516 16.875 15.625 16.6016 15.625 16.25V5C15.625 4.64844 15.3516 4.375 15 4.375H2.5ZM11.5234 6.95312C11.8359 6.52344 12.4219 6.44531 12.8125 6.75781C13.2422 7.03125 13.3203 7.61719 13.0469 8.04688L8.24219 14.6094C8.08594 14.8438 7.85156 14.9609 7.57812 15C7.30469 15 7.03125 14.9219 6.83594 14.7266L4.64844 12.5391C4.29688 12.1875 4.29688 11.6016 4.64844 11.2109C5.03906 10.8594 5.625 10.8594 5.97656 11.2109L7.38281 12.6172L11.5234 6.95312Z"
            fill="#D6EB31" />
        </svg>

        <p>Get 30 day free trail</p>
    </div>

    <div class="flex items-center gap-3">
        <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M17.5 1.875H2.5C2.14844 1.875 1.875 2.14844 1.875 2.5V3.75H18.125V2.5C18.125 2.14844 17.8516 1.875 17.5 1.875ZM18.125 6.25H1.875V12.5C1.875 12.8516 2.14844 13.125 2.5 13.125H17.5C17.8516 13.125 18.125 12.8516 18.125 12.5V6.25ZM2.5 0H17.5C18.8672 0 20 1.13281 20 2.5V12.5C20 13.8672 18.8672 15 17.5 15H2.5C1.13281 15 0 13.8672 0 12.5V2.5C0 1.13281 1.13281 0 2.5 0ZM3.125 10.9375C3.125 10.4297 3.55469 10 4.0625 10H5.9375C6.44531 10 6.875 10.4297 6.875 10.9375C6.875 11.4453 6.44531 11.875 5.9375 11.875H4.0625C3.55469 11.875 3.125 11.4453 3.125 10.9375ZM8.75 10.9375C8.75 10.4297 9.17969 10 9.6875 10H12.1875C12.6953 10 13.125 10.4297 13.125 10.9375C13.125 11.4453 12.6953 11.875 12.1875 11.875H9.6875C9.17969 11.875 8.75 11.4453 8.75 10.9375Z"
            fill="#D6EB31" />
        </svg>

        <p>No any hidden fees</p>
    </div>


    <div class="flex items-center gap-3">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M18.125 10C18.125 5.50781 14.4922 1.875 10 1.875C5.50781 1.875 1.875 5.50781 1.875 10C1.875 14.4922 5.50781 18.125 10 18.125C14.4922 18.125 18.125 14.4922 18.125 10ZM0 10C0 4.49219 4.49219 0 10 0C15.5078 0 20 4.49219 20 10C20 15.5078 15.5078 20 10 20C4.49219 20 0 15.5078 0 10ZM9.0625 4.6875C9.0625 4.17969 9.49219 3.75 10 3.75C10.5078 3.75 10.9375 4.17969 10.9375 4.6875V9.49219L14.2578 11.7188C14.6875 11.9922 14.8047 12.5781 14.5312 13.0078C14.2578 13.4375 13.6719 13.5547 13.2422 13.2812L9.49219 10.7812C9.21875 10.625 9.0625 10.3125 9.0625 10V4.6875Z"
            fill="#D6EB31" />
        </svg>

        <p>You can cancel anytime</p>
    </div>
</div>