<section class="mx-auto max-w-329.75 px-4 py-4 lg:py-8">
    <div class="flex flex-col items-center text-center">
        <span class="section-label">
            <span class="section-label-dot"></span>
            Our Store
        </span>

        <h2 class="mt-8 max-w-184 font-medium text-secondary">
            High quality fitness products built for results
        </h2>
    </div>

    <div class="mx-auto mt-22">
<div class="grid grid-cols-1 gap-9 sm:grid-cols-2 xl:grid-cols-4">
    <div class="flex items-center justify-center rounded-2xl bg-white">
        <img src="~/images/dumbell.svg"
             alt="Dumbbell" />
    </div>

    <div class="flex items-center justify-center rounded-2xl bg-white">
        <img src="~/images/trainingbag.svg"
             alt="Training bag" />
    </div>

    <div class="flex items-center justify-center rounded-2xl bg-white">
        <img src="~/images/hrwatch.svg"
             alt="Heart rate watch" />
    </div>

    <div class="flex items-center justify-center rounded-2xl bg-white">
        <img src="~/images/treadmill.svg"
             alt="Treadmill" />
    </div>
</div>

        <p class="mx-auto mt-16 max-w-124 text-center font-dm-sans text-[0.875rem] font-semibold leading-6 text-secondary">
            Let's make something great work together.
            <a asp-controller="Home"
            asp-action="Index"
            class="text-secondary underline underline-offset-2">
                Get Free Quote
            </a>
        </p>
    </div>
</section>