@{
    ViewData["Title"] = "Customer Service";
    ViewData["HeaderVariant"] = "Default";
    ViewData["ActivePage"] = "CustomerService";
}

<section class="px-4 py-4">
    <div class="mx-auto max-w-472">
        <partial name="~/Views/CustomerService/_ContactSection.cshtml" />
        <partial name="~/Views/Shared/Partials/FaqSection/_FaqSection.cshtml" />
    </div>
</section>